/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
:root {
	--primary-color: #1677FF;
	--text-hint: #9FA7BE;
	--bg-red: #FF1616;
	--bg-blue: rgba(22, 143, 255, 0.10);
}
body{
  background: #fff;
  font-family: 'Kosugi Maru', sans-serif;
  padding-top: 120px;
}


/* ========= HEADER ============ */
.header {
	background: url(../images/header/header_background.png) no-repeat;
	height: 100px;
	padding: 0 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header-left {
	display: flex;
	align-items: center;
}
.logo {
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-right: 40px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo__link {
	color: #fff;
	text-decoration: none;
}

.logo__link:hover {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .nav-link {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.4s ease ;
}

.nav-pagtination {
    display: flex;
    justify-content: center;
}


.navbar-custom .nav-item.active a {
	color: var(--primary-color);
	background-color: #fff;
	border-radius: 25px;
	font-weight: bold;
}

.navbar-custom .nav-link:hover {
	color: var(--primary-color);
	background-color: #fff;
	border-radius: 20px;
}

.nav-item {
	display: flex;
	margin-right: 15px;
}

.btn-dd {
	background-color: transparent;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 18px;
}

.dropdown-menu {
	width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0. 0.5);
	font-size: 16px;
	padding: 15px 0;

}

.dropdown-menu li {
	margin-bottom: 8px;
}

.dropdown-menu img {
	margin-right: 5px;
	margin-left: 5px;
}

/* =========== Pagtination ============ */
.custom-centered-nav {
    display: flex;
    justify-content: center;
}
table {
	border-collapse: collapse;
	width: 500px;
}
td, th {
	padding: 10px;
}
th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
td {
	color: #636363;
	border: 1px solid #dddfe1;
}
tr {
	background-color: #f9fafb;
}
tr:nth-child(odd) {
	background-color: #ffffff;
}
.pagination {
	list-style-type: none;
	padding: 10px 0;
	display: inline-flex;
	justify-content: center;
	box-sizing: border-box;
}
.pagination li {
	box-sizing: border-box;
	padding-right: 10px;
}
.pagination li a {
	box-sizing: border-box;
	background-color: #e2e6e6;
	padding: 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #616872;
	border-radius: 4px;
}
.pagination li a:hover {
	background-color: #d4dada;
}
.pagination .next a, .pagination .prev a {
	text-transform: uppercase;
	font-size: 12px;
}
.pagination .currentpage a {
	background-color: #518acb;
	color: #fff;
}
.pagination .currentpage a:hover {
	background-color: #518acb;
}


/* ===================================== */



/* ============= TOPIC LIST ============ */
.topiclist {
	background-color: var(--primary-color);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	height: 500px;
	border-radius: 15px;
	/* width: 300px; */
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.title-text {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
}

.list-group-custom {
	max-height: 400px;
	overflow-y: auto;
}

.list-group-custom a.list-group-item {
	background-color: transparent;
	border-radius: 20px;
	border-color: transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	transition: all 0.4s ease;
	margin-right: 10px;
}

.list-group-custom::-webkit-scrollbar {
	width: 3px;
}
  
  .list-group-custom::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 2px;
  }
  
  .list-group-custom::-webkit-scrollbar-track {
	background-color: transparent; 
  }
  
  .list-group-custom::-webkit-scrollbar-thumb:hover {
	background-color: #0056b3;
  }

.list-group-custom a.list-group-item:hover,
.list-group-custom a.list-group-item:active,
.list-group-custom a.list-group-item.active {
	background-color: #fff;
	color: var(--primary-color);
	border-radius: 20px;
	border: none;
}

.list-group-custom a.list-group-item.active {
	font-weight: bold;
}

/* =================================== */	

/* ============== SEARCH ============= */
.search-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.search-box {
	width: calc(100% - 40px);
	padding: 10px;
	padding-left: 20px;
	font-size: 18px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid #807171;
	position: relative;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	cursor: pointer;
}

.search-container button.search-btn {
	background-color: transparent;
	border: none;
}


/* ================ CONTENT ============ */
.content {
	padding: 50px 80px 20px;
	min-height: 600px;
}

/* ============== SEARCH PAGE ============ */

.card-custom {
	background-color: var(--bg-blue);
	border-radius: 20px;
	border: none;
	padding: 10px;
	transition: all 0.2s ease-out; 
}

.card-custom:hover {
	box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}

.card-custom .card-title {
	font-size: 30px;
	color: var(--primary-color);
	font-weight: 500;
	margin-bottom: 10px;
}

.card-custom .card-text {
	font-size: 16px;
}

.pagination li a,
.pagination .prev a,
.pagination .next a {
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.25);
	color: var(--primary-color);
	font-size: 16px;
	padding: 10px 12px;
	transition: all 0.2s ease-out;
}

.pagination li a:hover,
.pagination .prev a:hover,
.pagination .next a:hover {
	background-color: var(--bg-blue);
}

.pagination .currentpage a {
	border: none;
	background-color: var(--primary-color);
	color: #fff;
}

/* ========================================= */

/* ============ TOPIC ================== */
.topic-btn-gr {
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-end;
}
.topic-btn-gr button {
	border-radius: 18px;
	margin-left: 20px;
	padding: 5px 30px;
}

.word-card-custom {
	background-color: var(--bg-blue);
	border: none;
	border-radius: 20px;
}

.word-card-custom .card-title {
	font-size: 30px;
	color: #000;
}

.word-card-custom .card-text {
	color: var(--text-hint);
}

.word-card-custom .card-subtitle {
	color: var(--primary-color);
}


/* ================ DETAIL ========== */
.detail-custom {
	background-color: var(--primary-color);
	border: none;
	border-radius: 20px;
	padding: 5px 10px;
	height: 130px;
}

.detail-custom .card-title {
	font-size: 35px;
	color: #fff;
}

.detail-custom .card-text {
	font-size: 18px;
	color: #fff;
}

.word-topic li {
	background-color: var(--bg-blue);
	max-width: 200px;
	padding: 10px;
	border-radius: 20px;
	color: var(--primary-color);
	cursor: pointer;
	margin-bottom: 15px;
}

.detail-content {
	border: 1px solid rgba(0, 0, 0, 0.25);
	height: 500px;
	border-radius: 20px;
	padding: 30px;
	padding-left: 50px;
}

.detail-function {

}

.detail-function button {
	background: transparent;
	border: none;
	border: none;	
}

.img-btn button {
	background-color: transparent;
	border-radius: 20px;
	padding: 0 40px;
	display: flex;
	justify-content: center;
	font-size: 18px;

}

.detail-img {
	display: flex;
}

.word-detail {

}

/* ================ HISTORY ========== */
.card-box {
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-clip: padding-box;
	margin-bottom: 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
			box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.wrapper-page .card-box {
-webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
		box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
border: 5px solid #64b0f2;
}

.tilebox-one i {
	font-size: 30px;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.text-hist-1 {
	color: black;
	font-size: x-large !important;
}

.text-hist-2 {
	color: #1677FF;
	font-size: larger;
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.card-custom-2 {
	background-color: var(--bg-blue);
	border-radius: 20px;
	border: none;
	padding: 10px;
	transition: all 0.2s ease-out; 
	.card-body .card-title {
		font-size: 20px;
		color: black;
	}
	.card-text {
		font-family: Roboto;
		color: gray;
	}
}

/* ================ CREATE MODAL ========== */
label {
	color: var(--primary-color);
}

/* ================FOOTER============= */
.footer {
	background: url(../images/footer/footer_background.png);
	height: 100px;
	margin-top: 20px;
}

