/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
:root {
	--primary-color: #1677FF;
	--text-hint: #9FA7BE;
	--bg-red: #FF1616;
}
body{
  background: #fff;
  font-family: 'Kosugi Maru', sans-serif;
  padding-top: 120px;
}


/* ========= HEADER ============ */
.header {
	background: url(../images/header/header_background.png) no-repeat;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header-left {
	display: flex;
	align-items: center;
}
.logo {
	width: 250px;
	height: 45px;
	border-radius: 20px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-right: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo__link {
	color: #fff;
	text-decoration: none;
}

.logo__link:hover {
	color: #fff;
	text-decoration: none;
}
nav {
	padding-top: 20px;
}
.navbar-custom .nav-link {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.4s ease ;
}

.nav-pagtination {
    display: flex;
    justify-content: center;
}


.navbar-custom .nav-item.active a {
	color: var(--primary-color);
	background-color: #fff;
	border-radius: 25px;
	font-weight: bold;
}

.navbar-custom .nav-link:hover {
	color: var(--primary-color);
	background-color: #fff;
	border-radius: 20px;
}

.nav-item {
	display: flex;
	margin-right: 15px;
	width: 160px;
}

.btn-dd {
	background-color: transparent;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 18px;
}

.dropdown-menu {
	width: 200px;
	border: none;
	color: rgba(0, 0, 0. 0.5);
	font-size: 16px;
	padding: 15px 0;

}
.dropdown-menu img {
	margin-right: 5px;
	margin-left: 5px;
}

/* ==================================== */

/* ============= TOPIC LIST ============ */
.topiclist {
	background-color: var(--primary-color);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	height: 500px;
	border-radius: 15px;
	width: 290px;
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.title-text {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
}

.list-group-custom {
	max-height: 400px;
	overflow-y: auto;
}

.list-group-custom a.list-group-item {
	background-color: transparent;
	border-radius: 20px;
	border-color: transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	transition: all 0.4s ease;
}

.list-group-custom::-webkit-scrollbar {
	width: 3px;
}
  
  .list-group-custom::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 2px;
  }
  
  .list-group-custom::-webkit-scrollbar-track {
	background-color: transparent; 
  }
  
  .list-group-custom::-webkit-scrollbar-thumb:hover {
	background-color: #0056b3;
  }

.list-group-custom a.list-group-item:hover,
.list-group-custom a.list-group-item:active,
.list-group-custom a.list-group-item.active {
	background-color: #fff;
	color: var(--primary-color);
	border-radius: 20px;
	border: none;
}

.list-group-custom a.list-group-item.active {
	font-weight: bold;
}

/* =================================== */	

/* ============== SEARCH ============= */
.search-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
}

.search-box {
	width: calc(100% - 40px);
	padding: 10px;
	padding-left: 20px;
	font-size: 18px;
	height: 50px;
	border-radius: 20px;
	border: 1px solid #807171;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	cursor: pointer;
}

/* ================FOOTER============= */
.footer {
	background: url(../images/footer/footer_background.png);
	height: 100px;
	margin-top: 20px;
}

